@media only screen and (max-width: 600px) {
    .list_content .item_content{
        display: block;
    }
    .main_content{
        width: 731px;
    }
}

@media only screen and (max-width: 700px) {
    .content_one {
        width: 515px;
    }
    .content_right p{
        font-size: 20px;
        width: 300px;
    }
    .content_right .content_hr{
        height: 250px;
    }
    .item_content{
        width: 530px;
    }
}

@media only screen and (max-width: 900px) {

    .content_right .content_p {
        font-size: 25px;
        width: 400px;
    }
}