.container_one{
    width: 25%;
}
/* Register.css */

/* Định dạng cho container chứa form */
.container_one {
    /* max-width: 400px; */
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Định dạng cho các label và input */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: aliceblue;
    color: black;
}

/* Định dạng cho thông báo lỗi */
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* Định dạng cho nút đăng ký */
button[type="submit"] {
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: rgb(145, 40, 2);
}
@media only screen and (max-width: 1200px) {
    .container_one{
        width: 75%;
    }
}