/* styles.css */
@import '@fortawesome/fontawesome-free/css/all.min.css';

.arrow_right {
    font-size: 20px;
}


.background_list_movie {
    padding-top: 0px !important;
    padding-bottom: 60px !important;
    background-color: #020d18 !important;
}

.view_all_btn p a {
    text-decoration: none;
}

.view_all_btn p a:hover {
    color: #dcf836;
}

.view_all_btn a::after {
    content: "\f0da";
    /* Use single quotes around the Unicode value */
    font-family: FontAwesome;
    /* Update the font-family to the correct Font Awesome font */
    font-size: 16px;
    margin-left: 5px;
    /* Add some space between the link text and the icon */
}

.content__bottom_span span{
    /* opacity: 0; */
    margin-top: 150px;
    margin-right: 95px;
    font-size: 12px;
}

.text_viewall a {
    text-decoration: none;
}

.text_viewall a:hover {
    color: #dcf836;
}

.item_performer a {
    text-decoration: none;
}

.item_performer a p:hover {
    color: #dcf836;
}

.img__top_list {
    transition: .5s;
    /* z-index: 100; */
}

.img__top_list:hover~.content__bottom_span {
    z-index: 100;
    opacity: 1;
}

.content__bottom_span:hover~.img__top_list {
    opacity: .6;
}

.content__bottom_span:hover {
    opacity: 1;
    /* transition-delay: 3s; */
}


.content__bottom_span {
    opacity: 0;
    z-index: 100;
}

.img__top_list:hover {
    opacity: .6;
}

.content__bottom_span span a::after {
    content: "\f0da";
    /* Use single quotes around the Unicode value */
    font-family: FontAwesome;
    /* Update the font-family to the correct Font Awesome font */
    font-size: 16px;
    margin-left: 5px;
    /* Add some space between the link text and the icon */
}
.iframe_video{
    height: 34rem;
}

.view_all_btn a:hover{
    text-decoration: none;
    color: #dcf836;
}

@media only screen and (max-width: 700px) {
    .menu_item{
        display: none;
    }
    .content_left{
        margin: auto;
        width: 510px;
    }
}

@media only screen and (max-width: 750px) {
    .menu_item {
        display: none;
    }
}