.headerColor {
  background-color: #020d18;
}

.headerColor a {
  text-decoration: none;
  transition: all 0.5s;
}

.dropdown-item:hover {
  color: greenyellow;
  background-color: rgb(245, 245, 245);
}

.nav-item a:hover {
  color: greenyellow;
}
.nav-item .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  margin-top: 0;
}

.nav-item:hover .nav-link {
  color: #fff;
}

.dropdown-menu.fade-down {
  top: 80%;
  transform: rotateX(-75deg);
  transform-origin: 0% 0%;
}

.dropdown-menu.fade-up {
  top: 180%;
}

 .nav-item:hover .dropdown-menu {
  transition: .3s;
  opacity: 1;
  visibility: visible;
  top: 100%;
  transform: rotateX(0deg);
}
.fade-down{
  border-top: 2px solid greenyellow;
}

.navbar-start{
  width: 13%;
}
