.themeFooter {
  background-image: url(http://buster.mbkip3ms9u-e92498n216kr.p.temp-site.link/wp-content/uploads/2017/10/footer-bg.jpg);
}
.footerPadding {
  padding: 80px 0;
}

.footerTitle {
  padding-bottom: 20px;
}
.footerContent p:hover {
  color: #dcf836;
  cursor: pointer;
  transition: all 0.5s;
}
.footerContent p {
  color: #abb7c4;
  line-height: 2;
}
