.header-search-form .search-movies {
    width: 200px;
    border-right: 1px solid #020d18;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #233a50;
    -webkit-appearance: none;
}

.header-search-form {
    position: relative;
}

.header-search-form .header-search-form-input {
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #233a50;
    border-radius: 0px;
    border: 0px;
}

.header-search-form select,
.header-search-form input {
    padding: 0 15px;
    border: none;
    background-color: #233a50;
    height: 46px;

}

.header-search-form input:focus {
    outline: none;
}

.button-search {
    color: #ffffff;
    font-size: 32px;
    top: 16px;
    right: 15px;
}