.navbar {
    background-color: #000;
    padding: 10px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    display: inline-block;
    padding: 10px 20px;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
}

.navbar-toggler {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.navbar-toggler span {
    background-color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    display: block;
}

.navbar-toggler span::before,
.navbar-toggler span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 2px;
    background-color: white;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}

.navbar-toggler span::before {
    transform: rotate(45deg);
}

.navbar-toggler span::after {
    transform: rotate(-45deg);
}

.navbar-toggler:hover span,
.navbar-toggler:focus span {
    background-color: #000;
}

.navbar-toggler:hover span::before,
.navbar-toggler:focus span::before {
    transform: rotate(0deg);
}

.navbar-toggler:hover span::after,
.navbar-toggler:focus span::after {
    transform: rotate(0deg);
}

.navbar-menu.open {
    display: block;
}

.nav {
    background-color: #f5f5f5;
    color: #000;
}

.nav:hover {
    background-color: #fff;
    color: #000;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
}