@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: 'Nunito', sans-serif;
  color: white;
  font-weight: 700;
}