.home_page{
  background-image: url(http://buster.mbkip3ms9u-e92498n216kr.p.temp-site.link/wp-content/uploads/2017/12/slider-bg2.jpg?id=160);
  /* background-repeat: no-repeat; */
  background-size: contain;
}